<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhi270595.footballmanager" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/football"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreateTournamentActivity"
            android:label="@string/title_activity_create_tournament" >
        </activity>
        <activity
            android:name=".ParticularTournamentDetails"
            android:label="@string/title_activity_particular_tournament_details" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".EditFixture"
            android:label="@string/title_activity_edit_fixture" >
        </activity>
    </application>

</manifest>
