<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhi270595.footballmanager" >


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/football"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.abhi270595.footballmanager.LoginActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.abhi270595.footballmanager.LoginActivity" />
        </activity>
        <activity
            android:name=".CreateTournamentActivity"
            android:label="@string/title_activity_create_tournament" >
        </activity>
    </application>

</manifest>
